# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librería Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randint

# ej1
def cargar_datos():
    
    widths = [10, 30, 10, 5]
    
    
    raw_data = """2024-08-27Mirinda                             1510   14
2024-08-27Mirinda                             1560   12
2024-08-28Torasso                              940    8
2024-08-29Pepsi Cola                          1210   10
2024-08-30Mirinda                             1520    1
2024-09-01Mirinda                             1550   15
2024-09-01Sprite                               810    4
2024-09-02Coca Cola                           1100    4
2024-09-02Pepsi Cola                          1220   13
2024-09-02Torasso                              910    5
2024-09-02Torasso                              920    3
2024-09-03Coca Cola                           1020    8
2024-09-03Mirinda                             1570    7
2024-09-03Mirinda                             1590    2
2024-09-04Pepsi Cola                          1220   13
2024-09-05Mirinda                             1500    3
2024-09-05Pepsi Cola                          1300    5
2024-09-06Coca Cola                           1080    1
2024-09-06Sprite                               860   12
2024-09-06Torasso                              930    3
2024-09-07Coca Cola                           1080   14
2024-09-07Sprite                               870   13
2024-09-08Coca Cola                           1040   10
2024-09-08Mirinda                             1580    2
2024-09-08Pepsi Cola                          1240    9
2024-09-09Mirinda                             1500    3
2024-09-09Sprite                               850    9
2024-09-10Mirinda                             1590    8
2024-09-10Pepsi Cola                          1250   12
2024-09-11Sprite                               810    6
2024-09-11Sprite                               820   14
2024-09-12Coca Cola                           1080    4
2024-09-13Mirinda                             1580    5
2024-09-13Pepsi Cola                          1250   13
2024-09-14Coca Cola                           1080   15
2024-09-14Pepsi Cola                          1270   14
2024-09-15Coca Cola                           1100    1
2024-09-15Mirinda                             1500   13
2024-09-15Sprite                               870   14
2024-09-15Torasso                              900   13"""

    data = []
    for line in raw_data.split('\n'):
        fecha = line[:widths[0]].strip()
        producto = line[widths[0]:widths[0]+widths[1]].strip()
        precio = float(line[widths[0]+widths[1]:widths[0]+widths[1]+widths[2]].strip())
        cantidad = int(line[widths[0]+widths[1]+widths[2]:].strip())
        data.append([fecha, producto, precio, cantidad])
    
    
    df = pd.DataFrame(data, columns=['fecha', 'producto', 'precio', 'cantidad'])
    df['fecha'] = pd.to_datetime(df['fecha'])
    return df

datos = cargar_datos()

### Ejercicio 2: Calcular el total de ventas.
Hacer una función que sume los importes vendidos (precio * cantidad) y las cantidades.

In [2]:

# ej 2
def calcular_totales(datos):
    datos['importe'] = datos['precio'] * datos['cantidad']
    importe_total = datos['importe'].sum()
    cantidad_total = datos['cantidad'].sum()
    return importe_total, cantidad_total

importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:0.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cuántas unidades se vendieron en total para cada producto

In [3]:
def unidades_vendidas(datos):
    return datos.groupby('producto')['cantidad'].sum().sort_values(ascending=False)

unidades_vendidas(datos)

producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Coca Cola     57
Torasso       32
Name: cantidad, dtype: int64

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [4]:
def precio_promedio(datos):
    return datos.groupby('producto')['precio'].mean().round(2)


precio_promedio(datos)

producto
Coca Cola     1072.50
Mirinda       1545.83
Pepsi Cola    1245.00
Sprite         841.43
Torasso        920.00
Name: precio, dtype: float64

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos más vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [5]:
def ranking_productos(datos, top=3):
    return unidades_vendidas(datos).head(top)

ranking_productos(datos)

producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Name: cantidad, dtype: int64

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [6]:
def ventas_por_mes(datos):
    datos['mes'] = datos['fecha'].dt.strftime('%Y-%m')
    return datos.pivot_table(
        values='cantidad',
        index='producto',
        columns='mes',
        aggfunc='sum',
        fill_value=0
    )

ventas_por_mes(datos)

mes         2024-08  2024-09
producto
Coca Cola         0       57
Mirinda          27       58
Pepsi Cola       10       79
Sprite            0       72
Torasso           8       24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [7]:
def resumen_ventas(datos):
    resumen = pd.DataFrame({
        'precio_promedio': precio_promedio(datos),
        'unidades_vendidas': unidades_vendidas(datos),
        'importe_total': datos.groupby('producto').apply(
            lambda x: (x['precio'] * x['cantidad']).sum()
        )
    }).round(2)
    return resumen.sort_index()


resumen_ventas(datos)

/var/folders/6n/z412hmln0wn4g5vby875r5s00000gn/T/ipykernel_25973/3337271935.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'importe_total': datos.groupby('producto').apply(

            precio_promedio  unidades_vendidas  importe_total
producto
Coca Cola           1072.50                 57        60780.0
Mirinda             1545.83                 85       131080.0
Pepsi Cola          1245.00                 89       110510.0
Sprite               841.43                 72        61040.0
Torasso              920.00                 32        29320.0

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una función en Python que encuentre los valores de `a`, `b`, y `c` para que la función cuadrática `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La función debe explorar posibles valores de `a`, `b`, y `c` utilizando un método de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la función `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son números pequeños.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [8]:
import numpy as np
def f(x, coeficientes):
    a, b, c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return y - y_pred

def buscar_coeficientes_exactos():
    X = np.array([0,1,2,3,5])
    Y = np.array([0,8,12,12,0])
    
    # 
    for a in range(-5, 6):
        for b in range(-10, 11):
            for c in range(-5, 6):
                y_pred = f(X, (a,b,c))
                if np.all(np.abs(error(Y, y_pred)) < 0.0001):  
                    return a, b, c
    return None

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la función que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la función.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la función y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agregándoles un pequeño valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [9]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8,12,11, 1]) # Observar que no son los mismos valores que en el ejemplo anterior

def buscar_coeficientes():
    pass # Implementar


coeficientes = buscar_coeficientes()
coeficientes


# ej 9
def buscar_coeficientes():
    X = np.array([0, 1, 2, 3, 5])
    Y = np.array([0, 8, 12, 11, 1])
    
    
    coeficientes = randint(-10, 10, 3)
    learning_rate = 0.001
    
    mejor_error = float('inf')
    mejor_coef = coeficientes.copy()
    
    while mejor_error > 1:
        
        y_pred = f(X, coeficientes)
        current_error = error(Y, y_pred)
        
        
        nuevos_coef = coeficientes + np.random.normal(0, learning_rate, 3)
        y_pred_nuevo = f(X, nuevos_coef)
        nuevo_error = error(Y, y_pred_nuevo)
        
        
        if np.sum(nuevo_error**2) < mejor_error:
            mejor_error = np.sum(nuevo_error**2)
            mejor_coef = nuevos_coef.copy()
            coeficientes = nuevos_coef.copy()
    
    return mejor_coef

if __name__ == "__main__":
    # panda
    datos = cargar_datos()
    
    print("\n=== Ejercicio 2: Totales ===")
    importe, cantidad = calcular_totales(datos)
    print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")
    
    print("\n=== Ejercicio 3: Unidades vendidas por producto ===")
    print(unidades_vendidas(datos))
    
    print("\n=== Ejercicio 4: Precio promedio por producto ===")
    print(precio_promedio(datos))
    
    print("\n=== Ejercicio 5: Top 3 productos más vendidos ===")
    print(ranking_productos(datos))
    
    print("\n=== Ejercicio 6: Ventas por mes ===")
    print(ventas_por_mes(datos))
    
    print("\n=== Ejercicio 7: Resumen general de ventas ===")
    print(resumen_ventas(datos))
    
    # numpyy
    print("\n=== Ejercicio 8: Coeficientes exactos ===")
    coef_exactos = buscar_coeficientes_exactos()
    print(f"Coeficientes exactos: {coef_exactos}")
    
    print("\n=== Ejercicio 9: Coeficientes minimización ===")
    coef_min = buscar_coeficientes()
    print(f"Coeficientes minimización: {coef_min}")

coeficientes = buscar_coeficientes()
coeficientes

=== Ejercicio 2: Totales ===
Las ventas fueron de $392730.00 en 335 unidades

=== Ejercicio 3: Unidades vendidas por producto ===
producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Coca Cola     57
Torasso       32
Name: cantidad, dtype: int64

=== Ejercicio 4: Precio promedio por producto ===
producto
Coca Cola     1072.50
Mirinda       1545.83
Pepsi Cola    1245.00
Sprite         841.43
Torasso        920.00
Name: precio, dtype: float64

=== Ejercicio 5: Top 3 productos más vendidos ===
producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Name: cantidad, dtype: int64

=== Ejercicio 6: Ventas por mes ===
mes         2024-08  2024-09
producto
Coca Cola         0       57
Mirinda          27       58
Pepsi Cola       10       79
Sprite            0       72
Torasso           8       24

=== Ejercicio 7: Resumen general de ventas ===
            precio_promedio  unidades_vendidas  importe_total
producto
Coca Cola           1072.50                 57        60780.0
Mirinda             1545.83                 85       131080.0
Pepsi Cola          1245.00                 89       110510.0
Sprite               841.43                 72        61040.0
Torasso              920.00                 32        29320.0

=== Ejercicio 8: Coeficientes exactos ===
Coeficientes exactos: (-2, 10, 0)

=== Ejercicio 9: Coeficientes minimización ===

/var/folders/6n/z412hmln0wn4g5vby875r5s00000gn/T/ipykernel_25973/3337271935.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'importe_total': datos.groupby('producto').apply(

Coeficientes minimización: [-1.90201806  9.69267812 -0.14522676]

array([-1.78113496,  8.96268952,  0.62664753])